# Database
DATABASE_URL=postgresql://irtdp:irtdp_secret@localhost:5432/irtdp

# Redis
REDIS_URL=redis://:redis_secret@localhost:6379

# Auth
JWT_SECRET=CHANGE_THIS_TO_A_32_CHAR_RANDOM_STRING

# Elasticsearch
ELASTICSEARCH_URL=http://localhost:9200

# Storage (MinIO local / AWS S3 production)
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin123
AWS_REGION=us-east-1
S3_ENDPOINT=http://localhost:9000
S3_BUCKET=incident-media

# Service URLs
AUTH_SERVICE_URL=http://localhost:3001
INCIDENT_SERVICE_URL=http://localhost:3002
MEDIA_SERVICE_URL=http://localhost:3003
NOTIF_SERVICE_URL=http://localhost:3005

# Frontend
REACT_APP_API_URL=http://localhost:8080
REACT_APP_WS_URL=http://localhost:3005
